{% extends "base.html" %}
{% block title %} <title>Events Page</title>
{% endblock title%} 
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/events.js' %}"></script>
<div class="card text-center" style="margin-bottom: 40px">
    <div class="card-header">
      {{title}} 
    </div>
    <div class="card-body">
      <p class="card-text">View events or create a new event</p>
      <input class="btn btn-primary" type="button" onclick="location.href='{% url 'events_new'%}';" value="New Event">
    </div>
  </div>
    {% comment %} <p id="published"></p> {% endcomment %}
<div class="events-cards group-of-cards row row-cols-1 row-cols-md-3 g-4">
    {% for event in events_list %}
        <div class="col">
            <div class="card text-center events-card">
                <div class="card-header">
                Featured
                </div>
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'events_detail' event.id %}">
                    {{ event.title}}</a></h5>
                <p class="card-text"> {{event.description | truncatechars:20}}</p>
                <a href="{% url 'events_detail' event.id %}" class="btn btn-primary">Tasks</a>
                    <button id="publish-{{event.id}}" onClick='setPublish({{event.id}});' class="btn btn-primary">Publish</button>
                </div>
                <div class="card-footer text-muted">
                    {{ event.date }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}