{% extends "base.html" %}
{% load static %}

{% block title %} <title>Events</title>
{% endblock title%} {% block content %}

  <div class="card text-center" style="margin-bottom: 40px">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Manage Your Events</h5>
      <p class="card-text">Create a new event or manage the events you have already created below</p>
      <input class="btn btn-primary" type="button" onclick="location.href='{% url 'events_new'%}';" value="New Event">
    </div>
  </div>


<div class="group-of-cards row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{% static "images/beach1.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Past Events</h5>
          <ul class="list-group list-group-flush">
            {% if events_past|length == 0 %}
            <li class="list-group-item">No events</li>
            {% else %}
            <li class="list-group-item">{{ events_past.0 }}</li>
            {% endif %}
          </ul>
          <a onclick="location.href='{% url 'past_events'%}';" href="#" class="btn btn-primary more-events-btn">More Events</a>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{% static "images/city.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Events < Week Away</h5>
          <ul class="list-group list-group-flush">
            {% if events_week|length == 0 %}
            <li class="list-group-item">No events</li>
            {% else %}
            <li class="list-group-item">{{ events_week.0 }}</li>
            {% endif %}
          </ul>
          <a onclick="location.href='{% url 'thisweek_events'%}';" href="#" class="btn btn-primary more-events-btn">More Events</a>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{% static "images/road.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Events > Week Away</h5>
          <ul class="list-group list-group-flush">
            {% if events_future|length == 0 %}
            <li class="list-group-item">No events</li>
            {% else %}
            <li class="list-group-item">{{ events_future.0 }}</li>
            {% endif %}
          </ul>
          <a onclick="location.href='{% url 'future_events'%}';" href="#" class="btn btn-primary more-events-btn">More Events</a>
        </div>
    </div>
</div>
</div>



{% endblock content %}