$font: 'Times New Roman', 'Times', serif;
$color: #DDDDDD;

body {
    font-family: $font;
    background-color: $color;
    margin: 10px;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

.formfield {
    display: block;
}

.success{
    background-color: #00FF00
}

.error, .errorlist{
    background-color: #FF0000
}

.task_prompt {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Arial';
    border: 1px solid #97C6E3;
    border-radius: 10px;
    }
    .complete{
    background-color: #57ac90;
    }
    .incomplete{
    background-color: #df8f8f;
    }


.task_button { 
    float: right; 
    height: 24px; 
    width: 24px;
    }

.col {
    display: flex;
    justify-content:space-around;
}